#app-navbar {
  background-color: #131138;
  color: white;
  padding: 8px;
  height: 100%;

  a {
    padding: 4px;
    cursor: pointer;
  }

  a:hover {
    background-color: lightgray;
  }
}
