// p {
//   font-family: Lato;
// }

#my-app {
  mat-toolbar {
    background-color: #3f51b5;
  }

  mat-sidenav-container {
    mat-sidenav {
      width: 240px;
      height: 100vh;
      overflow: auto;

      mat-nav-list {
        a:hover {
          background-color: lightgray;
        }
      }
    }

    mat-sidenav-content {
      div {
        padding: 16px;
      }
    }
  }
}
